QMainWindow{
	background-color: white;
}


QLineEdit {
        border-radius: 2px;
        height: 20px;
        border: 1px solid rgb(111, 156, 207);
        background: white;
}

QLineEdit:enabled {
        color: rgb(84, 84, 84);
}

QLineEdit:enabled:hover, QLineEdit:enabled:focus {
        color: rgb(51, 51, 51);
}

QLineEdit:!enabled {
        color: rgb(80, 80, 80);
}

QPushButton{
	background: #3498db;
	color: #ffffff;
	padding: 8px 20px 8px 20px;
    border-radius: 3px;
}

QPushButton:hover {
  background: #3cb0fd;
}

QScrollBar:vertical {
        width: 20px;
        background: transparent;
        margin-left: 3px;
        margin-right: 3px;
}
QScrollBar::handle:vertical {
        width: 20px;
        min-height: 30px;
        background: rgb(170, 200, 230);
        margin-top: 15px;
        margin-bottom: 15px;
}
QScrollBar::handle:vertical:hover {
        background: rgb(165, 195, 225);
}
QScrollBar::sub-line:vertical {
        height: 15px;
        background: transparent;
        image: url(:/White/topArrow);
        subcontrol-position: top;
}
QScrollBar::add-line:vertical {
        height: 15px;
        background: transparent;
        image: url(:/White/bottomArrow);
        subcontrol-position: bottom;
}
QScrollBar::sub-line:vertical:hover {
        background: rgb(170, 200, 230);
}
QScrollBar::add-line:vertical:hover {
        background: rgb(170, 200, 230);
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
        background: transparent;
}

QScrollBar#verticalScrollBar:vertical {
        margin-top: 30px;
}



QCheckBox{
        spacing: 5px;
}
QCheckBox:enabled:checked{
        color: rgb(2, 65, 132);
}
QCheckBox:enabled:!checked{
        color: rgb(70, 71, 73);
}
QCheckBox:enabled:hover{
        color: rgb(0, 78, 161);
}
QCheckBox:!enabled{
        color: rgb(80, 80, 80);
}
QCheckBox::indicator {
        width: 20px;
        height: 20px;
}